<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>186502613572-m12chjt55ehitcks05sh232j8mqnjhho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186502613572-m12chjt55ehitcks05sh232j8mqnjhho</string>
	<key>API_KEY</key>
	<string>AIzaSyAlaMIO6S9elMKMmR6byGsOo0RrETK5B4k</string>
	<key>GCM_SENDER_ID</key>
	<string>186502613572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mihir.EventApp</string>
	<key>PROJECT_ID</key>
	<string>eventapp-630cd</string>
	<key>STORAGE_BUCKET</key>
	<string>eventapp-630cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186502613572:ios:073d60190f99f624</string>
	<key>DATABASE_URL</key>
	<string>https://eventapp-630cd.firebaseio.com</string>
</dict>
</plist>